<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      all.js
    </div>
    <a href="https://github.com/learnsomuch/all.js/blob/master/README.md" class="item">API</a>
    <a href="https://github.com/learnsomuch/all.js/blob/master/README.md" class="item">Examples</a>
    <a href="http://learnsomuch.github.io/all.js/#blog" class="item">Blog</a>
    <a href="http://all.js.org/more" class="ui right floated dropdown item">
      More <i class="dropdown icon"></i>
      <div class="menu">
        <div href="#about" class="item">About</div>
        <div href="#developers" class="item">Developers</div>
        <div href="#contact" class="item">Contact</div>
      </div>
    </a>
  </div>
</div>
