<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

      {% include menu.html %}

<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui header">
        all.js<sub>alpha v0.0.1</sub>
      </h1>
      <div class="ui text container">
        <h2 class="terminal" data-typer-targets="A JS library to create everything,A JS library to modify everything,A JS library to verify everything,A JS library to generate everything,A JS library to trim everything,A JS library to Identify everything"></h2>
      </div>
      <div><a href="https://github.com/learnsomuch/all.js/blob/master/all.js" class="ui huge teal button">Install v0.0.1<i class="right arrow icon"></i></a></div>
      <div class="chevron"><i class="chevron down icon"></i> </div>
   </div>
  </div>
</div>

<hr/>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
